.header__input {
    background-color: var(--input-color);
    border: none;
    padding: 1rem;
    transition: background-color .3s;

    &:focus {
        outline: none;
        border: 2px solid var(--secondary-color);
    }

    &:hover {
        background-color: var(--input-color-lighter);
    }
}