.footer {
    margin-top: 5rem;
    width: 100%;
    height: 20rem;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;

    & > h1 {
        font-size: 3rem;
        border: 2px solid var(--primary-color);
        transition: all .3s;

        &:hover {
            transform: scale(1.05);
        }

        & > a {
            text-decoration: none;
            list-style: none;
            color: #ffffff;
        }
    }
}