.search__table {
    padding: 1.5rem;
    width: 35.5rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    border-radius: 1px;
    border: none;
    font-size: 1.6rem;

    &:focus {
        outline: none;
    }
}