.form__search {
    padding: 20rem;

    &_input {
        background-color: transparent;
        border: 2px solid var(--body-color);
        color: var(--search-color);
        font-size: 2.5rem;
        padding: 2rem;
        width: 60rem;
        transition: all .3s;
    
        &:focus {
            outline: none;
            background-color: var(--form-search-color);
            border-radius: .5rem;
            color: var(--input-color);
        }
    
        &::placeholder {
            color: #ffffff;
        }
    }
}