:root {
    // BASE
    --primary-color: #3f72af;
    --secondary-color: #035aa6;
    --body-color: #eaeaea;
    --text-color: #ffffff;

    //INPUT
    --input-color: #dbe2ef;
    --input-color-lighter: #c8d6f0;
    --input-checkbox-color: #3f72af;

    //FORM
    --search-color: #000000;
    --form-search-color: #035aa6;
    --form-list-hover-border: #ff7c7c;

    // MAIN
    --stats-border-color: #3f72af;
    --stats-text-color: #ffffff;
    --stats-title: #035aa6;
    --graphs-background-color: #3f72af;
    --table-row-hover: #142235;

    // MAP 
    --mark-color: rgba(red, .5);
}

[data-theme="dark"] {
    //BASE
    --primary-color: #ffac41;
    --secondary-color: #222831;
    --body-color: #222831;
    --text-color: #000000;

    //INPUT
    --input-color: #ffffff;
    --input-color-lighter: #c8d6f0;
    --input-checkbox-color: #323232;

    //FORM
    --search-color: #ffffff;
    --form-search-color: #ffac41;
    --form-list-hover-border: #222831;

    //MAIN
    --stats-border-color: #ffac41;
    --stats-text-color: #ffac41;
    --stats-title: #ffac41;
    --graphs-background-color: #756045;
    --table-row-hover: #976420;

    // MAP 
    --mark-color: rgba(orange, .5);
}